.main
    display: flex
    flex-direction column
    justify-content: center
    align-items: center
    animation: 2.1s main .5s ease-in-out
    &__title
        position relative
        width: 420px
        max-width: 600px
        height 70px
        margin-bottom: 20px
        font-size: 32px
        font-weight: 700
        span
            position: absolute
            left: 20px
            font-weight: 300
    &__content
        width: 420px
        max-width: 600px
        font-size: 16px
        font-weight: 300