* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
.page {
  width: 100%;
  height: 100vh;
  position: relative;
}
.page__content {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-auto-rows: 20vh 50vh 30vh;
  align-items: center;
  justify-items: center;
}
.page__loader {
  position: absolute;
  z-index: 3;
  background-color: #000;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 1.7s linear forwards;
}
.page__loader div {
  background-color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 10px;
  transform: scale(0);
  animation: scaling 2s ease-in-out infinite;
}
.header {
  grid-column: 1/2;
  grid-row: 1/2;
}
.main {
  grid-column: 1/2;
  grid-row: 2/3;
}
.heroes {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.superman {
  grid-column: 2/3;
  grid-row: 1/4;
}
.page__loader div:nth-child(1) {
  animation-delay: 0.2s;
}
.page__loader div:nth-child(2) {
  animation-delay: 0.4s;
}
.page__loader div:nth-child(3) {
  animation-delay: 0.6s;
}
@-moz-keyframes scaling {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.2);
  }
}
@-webkit-keyframes scaling {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.2);
  }
}
@-o-keyframes scaling {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.2);
  }
}
@keyframes scaling {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.2);
  }
}
@-moz-keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-o-keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-moz-keyframes navbar {
  0% {
    transform: translateY(-20vh);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes navbar {
  0% {
    transform: translateY(-20vh);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes navbar {
  0% {
    transform: translateY(-20vh);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes navbar {
  0% {
    transform: translateY(-20vh);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes main {
  0% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes main {
  0% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(0);
  }
}
@-o-keyframes main {
  0% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes main {
  0% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes superman {
  0% {
    transform: translateY(1000px);
  }
  80% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes superman {
  0% {
    transform: translateY(1000px);
  }
  80% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes superman {
  0% {
    transform: translateY(1000px);
  }
  80% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes superman {
  0% {
    transform: translateY(1000px);
  }
  80% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes superman-name {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@-webkit-keyframes superman-name {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@-o-keyframes superman-name {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes superman-name {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@-moz-keyframes heroes {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes heroes {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes heroes {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes heroes {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0);
  }
}
.header__nav {
  width: 460px;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  animation: 2.1s navbar 0.5s ease-in-out;
}
.header__nav-brand {
  width: 35px;
  height: 35px;
}
.header__nav-items {
  display: flex;
  list-style: none;
}
.header__nav-items a {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  color: #d13d2a;
  margin-left: 10px;
  text-transform: uppercase;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: 2.1s main 0.5s ease-in-out;
}
.main__title {
  position: relative;
  width: 420px;
  max-width: 600px;
  height: 70px;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 700;
}
.main__title span {
  position: absolute;
  left: 20px;
  font-weight: 300;
}
.main__content {
  width: 420px;
  max-width: 600px;
  font-size: 16px;
  font-weight: 300;
}
.superman {
  width: 100%;
  display: flex;
  height: 100vh;
  position: relative;
}
.superman img {
  position: absolute;
  height: 60%;
  left: calc(50% - 105px);
  top: calc(50% - 200px);
  animation: 2.3s superman 0.5s linear;
}
.superman h2 {
  position: absolute;
  left: -20px;
  top: calc(50% - 60px);
  transform: rotate(-90deg);
  animation: 2.5s superman-name 0.5s ease-in-out;
}
.superman__data {
  width: 50%;
}
.superman__complement {
  width: 50%;
  background-color: #ffd030;
}
.heroes__contain {
  width: 95%;
  height: 80%;
  background-color: #ffd030;
  border-top-right-radius: 30px;
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 300px));
  justify-items: center;
  align-items: flex-end;
  animation: 2.2s heroes 0.5s ease-in-out;
}
.heroes__contain-item {
  height: 50%;
  width: 75%;
  background-color: #025db9;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.heroes__contain-item img {
  margin-top: -60px;
  width: 120px;
  height: 120px;
  transform: translateY(0px) scale(1);
  animation: transform 0.6s ease-in-out;
}
.heroes__contain-item img:hover {
  transform: translateY(-30px) scale(1.4);
  animation: transform 0.4s ease-in-out;
  cursor: pointer;
}
.heroes__contain-item:nth-child(1) {
  grid-column: 1/2;
}
.heroes__contain-item:nth-child(2) {
  grid-column: 2/3;
}
.heroes__contain-item:nth-child(3) {
  grid-column: 3/4;
}
